{% extends "base.html" %}
{% block title %}Editer un ingrédient{% endblock %}

{% block content %}
    <h1>Editer un ingrédient</h1>
    <div class="card">
        <div class="card-body">
            <form action="edit-ingredient.html" method="post">
                <input type="hidden" name="ing_id" id="ing_id" value="{{ ing.id }}">
                <div class="form-group">
                    <label for="ing_name">Nom de l'ingrédient</label>
                    <input type="text" class="form-control" id="ing_name" name="ing_name" aria-describedby="nameHelp" value="{{ ing.nom }}">
                    <small id="nameHelp" class="form-text text-muted">Ce nom sera utilisé partout dans le reste de l'application, donc faites attention aux fautes !</small>
                </div>
                <div class="form-group">
                    Veuillez indiquer la catégorie de l'ingrédient (Plusieurs choix sont possibles) :
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="glucides" id="glucides" name="category" {% if ing.GLUCIDES in ing.category %}checked{% endif %}>
                        <label class="form-check-label" for="glucides">Glucides</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="lipides" id="lipides" name="category" {% if ing.LIPIDES in ing.category %}checked{% endif %}>
                        <label class="form-check-label" for="lipides">Lipides</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="proteines" id="proteines" name="category" {% if ing.PROTEINES in ing.category %}checked{% endif %}>
                        <label class="form-check-label" for="proteines">Protéines</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="fibres" id="fibres" name="category" {% if ing.FIBRES in ing.category %}checked{% endif %}>
                        <label class="form-check-label" for="fibres">Fibres</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="legumes" id="legumes" name="category" {% if ing.LEGUMES in ing.category %}checked{% endif %}>
                        <label class="form-check-label" for="legumes">Legumes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="epice" id="epice" name="category" {% if ing.EPICES in ing.category %}checked{% endif %}>
                        <label class="form-check-label" for="epice">Épices</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary float-right col-sm-12 col-md-2">Mettre à jour</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}