{% extends "base.html" %}
{% block title %}Liste des recettes{% endblock %}

{% block content %}
    <h1>Liste des recettes ({{ recettes | length }})</h1>
    <div class="card">
        <div class="card-body">
            <ul class="list-group">
                {% for rec in recettes.sort_by_name() %}
                <li class="list-group-item">
                <span class="align-middle" style="line-height: 2.5em">{{ rec.nom }}</span>
                <div class="float-right">
                        <a href="edit-recette.html?rec={{ rec.id }}" class="align-middle btn btn-secondary">Editer <i class="material-icons align-middle">edit</i></a>
                        <a class="align-middle btn btn-danger" onclick="confirm_delete(this, '{{ rec.id }}');">Supprimer <i class="material-icons align-middle">delete_forever</i></a>
                </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
    function confirm_delete(node, rec) {
        if(confirm("Voulez-vous vraiment supprimer la recette : '" + rec + "' ?")) {
            window.location = "remove-recette.html?rec="+rec;
        }
    }
    </script>
{% endblock %}