{% extends "base.html" %}
{% block title %}Liste des ingrédients{% endblock %}

{% block content %}
    <h1>Liste des ingrédients ({{ ingredients | length }})</h1>
    <div class="card">
        <div class="card-body">
            <ul class="list-group">
                {% for ing in ingredients.sort_by_name() %}
                <li class="list-group-item">
                <span class="align-middle" style="line-height: 2.5em">{{ ing.nom }}</span>
                    <div class="float-right">
                        <a href="edit-ingredient.html?ing={{ ing.id }}" class="align-middle btn btn-secondary">Editer <i class="material-icons align-middle">edit</i></a>
                        <a class="align-middle btn btn-danger" onclick="confirm_delete(this, '{{ ing.id }}');">Supprimer <i class="material-icons align-middle">delete_forever</i></a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
    function confirm_delete(node, ing) {
        if(confirm("Voulez-vous vraiment supprimer l'ingrédient : '" + ing + "' ?")) {
            window.location = "remove-ingredient.html?ing="+ing;
        }
    }
    </script>
{% endblock %}