{% extends "base.html" %}
{% block title %}A Chef in the Fridge{% endblock %}

{% block content %}
  <h1>Rechercher une recette</h1>
  <div style="margin: 2em 0;"></div>

  <div class="card">
    <div class="card-body">
      <!-- Ajouter un ingrédient -->
      <form class="add-ing" method="post">
        <div class="form-row">
          <span class="col-sm-4 col-md-2 add-ing-label">Ajouter un ingrédient : </span>
          <input class="col-sm-8 col-md-7 form-control mr-auto" type="text" id="add-ingredient" name="add-ingredient" placeholder="Parmesan" autofocus>
          <button class="col-md-2 btn btn-primary" type="submit" >Ajouter</button>
        </div>
      </form>
      <hr>

      <!-- Liste des ingrédients ajoutés-->
      <div class="row-cols-12">
        <h2>Ingrédients dans ton frigo</h2>
        <ul class="list-group">
          {% for ing in ing_list %}
          <li class="list-group-item"><span class="ing-name align-middle">{{ ing.nom }}</span> <a href="?type=remove_ing&id={{ ing.nom }}" class="float-right"><i class="material-icons icon-red align-middle">delete</i></a></li>
          {% endfor %}
        </ul>
      </div>

      <!-- Bouton rechercher -->
      <a id="ing-search" href="?type=search" class="btn btn-primary col-md-2 col-sm-12 align-self-end">Rechercher <i class="material-icons align-middle">search</i></a>
    </div>
  </div>
  <div style="margin: 2em 0;"></div>

  <div class="card">
    <div class="card-body">
      <!-- Panel des recettes trouvées-->
      <div class="row-cols-12">
        <h2>Recettes compatibles avec tes ingrédients</h2>
        <div class="accordion" id="recetteAccordion">
          <!-- Liste title -->
          <li class="list-group-item list-group-item-dark"><span>Nom de la recette</span><span class="float-right">Score</span></li>

          {% for recette, score in recettes %}
          {% set k = recettes.index((recette, score)) %}
          <!-- Recette -->
          <div class="card">
            <div class="card-header" id="recette-header-{{ k }}">
              <button class="btn btn-block text-left" data-toggle="collapse" data-target="#recette-{{ k }}" type="button" aria-expanded="false" aria-controls="recette-1">
                <span class="recette-title align-middle">{{ recette.nom }}</span>
                <span class="recette-score float-right badge badge-pill badge-secondary align-middle">{{ score }}%</span>
              </button>
            </div>
            <div id="recette-{{ k }}" class="collapse" aria-labelledby="recette-header-{{ k }}" data-parent="#recetteAccordion">
              <!-- Contenu de la recette -->
              <div class="card-body row">
                <div style="overflow: hidden" class="col-sm-12 col-md-4">
                  <img src="{{ recette.photo }}" alt="{{ recette.nom }}" class="img-thumbnail float-left recette-img">
                </div>
                <div class="col-md-8 col-sm-12">
                  <h4>Ingrédients</h4>

                  <ul class="list-group">
                      {% for ing in recette.ingredients %}
                      <li class="list-group-item">
                          {% if recette.ingredient_dans_recette(ing, ing_list) %}
                          <i class="align-middle material-icons icon-green">done</i>
                          {% else %}
                          <i class="align-middle material-icons icon-red">clear</i>
                          {% endif %}
                          <span class="align-middle">
                              {{ ing.nom }}
                              {% if recette.est_substituable(ing) %}
                              <small class="substituts">(Substitut : {{ recette.get_substituts(ing.nom) }})</small>
                              {% endif %}
                          </span>
                          <span class="align-middle float-right">{{ ing.quantite }}</span>
                      </li>
                      {% endfor %}
                  </ul>
                  <span>Lien vers la recette : </span><a href="{{ recette.url }}" target="_blank">{{ recette.url }}</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
    $(function() {
        $('#recette-0').addClass('show');

        $("#add-ingredient").autocomplete({
            source:function(request, response) {
                $.getJSON("{{url_for('search.autocomplete')}}",{
                    q: request.term, // in flask, "q" will be the argument to look for using request.args
                }, function(data) {
                    response(data.matching_results); // matching_results from jsonify
                });
            },
            minLength: 2,
            select: function(event, ui) {
                console.log(ui.item.value);
            }
        });
    })
</script>
{% endblock %}